attrs==26.1.0
blinker==1.9.0
click==8.3.3
colorama==0.4.6
flasgger==0.9.7.1
Flask==2.3.3
Flask-SQLAlchemy==3.0.5
flask-restx==0.5.1
greenlet==3.5.0
gunicorn==26.0.0
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.17.3
MarkupSafe==3.0.3
mistune==3.2.1
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pyrsistent==0.20.0
pytest==9.0.3
python-dotenv==1.2.2
PyYAML==6.0.3
six==1.17.0
SQLAlchemy==1.4.54
Werkzeug==3.1.8
